.App {
  text-align: center;
}
.App img {
  /* Set a specific height for the logo */
  height: auto;
  /* Disable pointer events if needed */
  pointer-events: none;
  /* Disable the spinning animation */
  animation: none;
}